.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    flex-wrap: nowrap;
    border: 3px solid slateblue;
    border-radius: 20px 20px 20px 20px;

}

.overview_cont {
    display: flex;
    margin-right: 40px;
    margin-left: 20px;
}

.overview_cont .poster-img {
    border: 1px solid rgba(130, 130, 181, 1);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 9px 39px 0px rgba(130, 130, 181, 1);
}


.desc-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    color: var(--color-BFD2FF);
}

.desc-cont h1 {
    font-size: 2.7rem;
}

.description h2 {
    font-size: 2rem;
    padding-bottom: 10px;
}

.description p {
    font-size: 1.5em;
    font-weight: 400;
}

.rel-pop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.rel-pop span {
    color: aquamarine;
}

.desc-items:nth-child(2) {
    text-transform: uppercase;
}

.desc-items:nth-child(1) {
    flex: 1;
}

.desc-items {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
}

.heart-button
{
    font-size: 38px;
    background-color: transparent;
    border: 0;
    color: var(--color-BFD2FF);
}



@media only screen and (max-width: 1282px) {
    .desc-cont h1 {
        font-size: 2.3rem;
        text-align: center;
    }

    .desc-cont h1 {
        font-size: 2.5rem;
    }

    .description h2 {
        font-size: 1.9rem;
        padding-bottom: 10px;
        text-align: center;
    }

    .description p {
        font-size: 1.4em;
        font-weight: 400;
        text-align: center;
    }

}


@media only screen and (max-width: 1024px) {
    .desc-cont h1 {
        font-size: 1.7rem;
        text-align: start;
        flex: auto;
    }

    .description h2 {
        font-size: 1.5rem;
        padding-bottom: 10px;
        text-align: center;
    }

    .description p {
        font-size: 1.2em;
        font-weight: 400;
        text-align: center;
    }

    .overview_cont .poster-img {
        width: 370px;
        height: 480px;
    }

    .rel-pop>.desc-items {
        font-size: 1.1em;
    }
    .heart-button
    {
        font-size: 1.7rem;
        display: flex;
    }
}

@media only screen and (max-width: 813px) {
    .desc-cont h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    .description h2 {
        font-size: 1.6rem;
        text-align: center;
    }
   
}

@media only screen and (max-width: 794px) {
    .card-wrapper {
        display: flex;
        flex-direction: column;
        border: 3px solid slateblue;
        border-radius: 20px 20px 20px 20px;
        padding: 0;
                
    }

    .overview_cont {
        
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        border: 0;
    }

    .overview_cont .poster-img {
        width: 100%;
        height: auto;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
       
    }
    .desc-cont 
    {
        padding: 15px;
    }
    .desc-cont h1 {
        font-size: 1.4rem;
        padding-bottom: 15px;
        padding-top: 10px;
      
    }

    .description h2 {
        font-size: 1.2rem;
        padding-bottom: 10px;
        text-align: center;
    }

    .description p {
        font-size: 1em;
        font-weight: 400;
        text-align: center;
        padding-bottom: 10px;
    }

    .rel-pop>.desc-items {
        font-size: 1em;
        padding: 10px;
    }

    .heart-button
    {
        font-size: 24px;
    }
}
